.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.admin-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  width: calc(100% - 260px);
}

.admin-page-content {
  flex: 1;
  overflow-y: auto;
}
