.homepagecontent {
  padding-bottom: 4rem;
}

.page-title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: -3px;
      height: 3px;
      background-color: #fabea1;
    }
  }
}

.magazine-layout {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 2rem;
}

.magazine-column {
  padding: 0 1.5rem;
  grid-column: span 5;

  @media (min-width: 1200px) {
    grid-column: span 1;
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: none;
    }
  }

  &:nth-child(2) {
    @media (min-width: 1200px) {
      grid-column: span 2;
    }
  }
}

.article {
  & + .article {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
  }
}

.article-img {
  & + * {
    margin-top: 1rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 15%;
    transition: transform 0.2s;
    user-select: none;
  }
}

.article-link {
  color: inherit;
  text-decoration: none;
}

.article-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.25;
  color: #000;

  &--large {
    font-size: 2rem;
    & + * {
      margin-top: 1.5rem;
    }
  }

  &--medium {
    font-size: 1.5rem;
    & + * {
      margin-top: 0.75rem;
    }
  }

  &--small {
    font-size: 1.25rem;
    & + * {
      margin-top: 0.75rem;
    }
  }
}

.article-link {
  color: inherit;
}
.article-link:hover,
.article-link:focus {
  border-bottom: 2px solid #000;
  outline: none;
  text-decoration: none;
}

.mark {
  background-color: #fabea1;
  &--secondary {
    background-color: #c2dddf;
  }

  &--tertiary {
    background-color: #f8e177;
  }
}

.article-podcast-player {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
}

.podcast-play-button {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 12px;
  border: 0;
  background-color: #000;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-play-button svg {
  max-width: 1rem;
  max-height: 1rem;
  fill: #fff;
}

.podcast-play-button:hover {
  cursor: pointer;
  background-color: #333;
  transition: background-color 0.2s;
}

.podcast-progression {
  flex: 1;
  height: 8px;
  border-radius: 99em;
  background-color: #d9d4cd;
  background-image: linear-gradient(
    to right,
    #f99970 30%,
    #d9d4cd 30%,
    #d9d4cd 100%
  );
}

.podcast-time {
  font-weight: 500;
  font-size: 1.125rem;
  margin-left: 0.5rem;
}
