.header-fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f8f3eb;
  padding-top: 20px;
}

img {
  display: block;
  max-width: 100%;
}

/* ----------------HEADER---------------- */
.header {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.header-fixed-wrapper.is-scrolled .header {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

/* ----------------HEADER LEFT---------------- */
.header-left {
  img {
    max-height: 60px;
    width: auto;
  }
  position: relative;
  user-select: none;
}

/* ----------------HEADER MIDDLE---------------- */

.header-middle {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
  display: flex;
  justify-content: center;
  user-select: none;
}

.search-container input {
  background-color: transparent;
  width: 500px;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 2px solid transparent;
  text-align: center;

  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 68px;
}

.search-container input:focus,
.search-container input:active,
.search-container input:hover {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

/* ----------------HEADER RIGHT---------------- */
.header-right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.header-link {
  color: #000;
  text-decoration: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  display: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &--button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.25rem;
  }

  @media (min-width: 1200px) {
  }
}

.header-link:focus,
.header-link:active,
.header-link:hover {
  border-bottom: 2px solid #000;
  outline: none;
}

.header-menu-button {
  margin-left: 0.75rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
  position: relative;
  padding-right: 30px;
  font-weight: 500;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: currentcolor;
    right: 0;
    top: 8px;
  }

  &:after {
    top: 16px;
    width: 12px;
    right: 8px;
  }
}

.header-menu-button:focus,
.header-menu-button:active,
.header-menu-button:hover {
  border-bottom: 2px solid #000;
  outline: none;
}

.user-section {
  display: flex;
  align-items: center;
}
