@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8f3eb;
  color: #484847;
  box-sizing: border-box;
  padding-top: calc(8rem + 20px);
  margin-left: auto;
  margin-right: auto;
}
.responsive-wrapper {
  width: 95%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* .page-title h1 {
  font-family: "Fraunces", serif;
}

.search-container input {
  font-family: "Fraunces", serif;
} */
